<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
  version="2.4">
 
  <display-name>Tutorial2</display-name>
  <description>Tutorial2</description>
 
  <context-param>
    <param-name>org.eclipse.rwt.entryPoints</param-name>
    <param-value>org.jowidgets.tutorials.tutorial2.starter.webapp.rwt.Tutorial2RwtEntryPoint</param-value>
  </context-param>
 
  <context-param>
     <param-name>org.eclipse.rwt.brandings</param-name>
     <param-value>org.jowidgets.tutorials.tutorial2.starter.webapp.rwt.Tutorial2RwtBranding</param-value>
  </context-param>
 
  <listener>
    <listener-class>org.eclipse.rwt.internal.engine.RWTServletContextListener</listener-class>
  </listener>
 
  <servlet>
    <servlet-name>Tutorial2</servlet-name>
    <servlet-class>org.eclipse.rwt.internal.engine.RWTDelegate</servlet-class>
  </servlet>
 
  <servlet-mapping>
    <servlet-name>Tutorial2</servlet-name>
    <url-pattern>/Tutorial2</url-pattern>
  </servlet-mapping>
</web-app>