<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="org.jowidgets.tutorials.rcp3.tutorial1.target" sequenceNumber="54">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.executable.feature.group" version="3.4.2.R36x_v20110125-7N7K7bF8zk1BAKMh0iz0t94miBLY"/>
<unit id="org.eclipse.platform.sdk" version="3.6.2.M20110210-1200"/>
<unit id="org.eclipse.ecf.core.feature.group" version="3.3.1.v20100913-1814"/>
<unit id="org.eclipse.rcp.source.feature.group" version="3.6.2.r362_v20101104-9SAxFMKFkSAqi8axkv1ZjegmiBLY"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.6.2.r362_v20110210b-7H7R67v9rtOv_dTCawtb0WQnN92B"/>
<repository location="http://download.eclipse.org/releases/helios"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.jowidgets.thirdparty.feature.feature.group" version="0.0.1"/>
<repository location="http://www.jowidgets.org/p2/thirdparty/releases/0.0.1/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.jowidgets.addons.silkicons.feature.feature.group" version="0.53.0.201511261928"/>
<unit id="org.jowidgets.workbench.feature.feature.group" version="0.53.0.201511261928"/>
<unit id="org.jowidgets.impl.swt.feature.feature.group" version="0.53.0.201511261928"/>
<repository location="http://www.jowidgets.org/p2/jowidgets/snapshots/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.jowidgets.cap.remoting.client.starter.feature.feature.group" version="0.46.0.201511261938"/>
<repository location="http://www.jowidgets.org/p2/jo-client-platform/snapshots/"/>
</location>
</locations>
</target>
