<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
       id="RcpSample1StarterClientRcp"
       point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.jowidgets.samples.rcp.sample1.starter.client.rcp.RcpSample1StarterClientRcp">
         </run>
      </application>
    </extension>
    
    <extension
          id="RcpSample1StarterClientRcp"
          point="org.eclipse.core.runtime.products">
      <product
            application="org.jowidgets.samples.rcp.sample1.starter.client.rcp.plugin.RcpSample1StarterClientRcp"
            name="org.jowidgets.samples.rcp.sample1.starter.client.rcp.application">
         <property
               name="appName"
               value="org.jowidgets.samples.rcp.sample1.starter.client.rcp.application">
         </property>
      </product>
   </extension>
	

</plugin>
