<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
       id="org.jowidgets.tutorials.rcp3.tutorial4"
       point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.jowidgets.tutorials.rcp3.tutorial4.launcher.swt.Tutorial4RcpWorkbenchRunner">
         </run>
      </application>
    </extension>

</plugin>
